html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes blinker {
    0% {
        color: red;
    }

    25% {
        color: green;
    }

    50% {
        color: blue;
    }

    75% {
        color: purple;
    }

    100% {
        color: orange;
    }
}
