@{
    ViewData["Title"] = "Home Page";
}



<p>
    Bonjour ! Vous êtes sur la page Home <br />

</p>


<br />

@* /Contacts/Index *@

@*Html Helpers*@
@Html.ActionLink("Vers Contacts/Index", "Index", "Contacts")

<a asp-controller="Contacts" class="btn btn-primary">Vers /Contacts/</a>