@page "/rpg"

<h3>🥊 Combat 🥊</h3>

<div>
    <p>🤠 : @Pdv</p>
    <p>🔘: @Armure</p>
    <p>🔪: @((Arme + 10) + "-" + (Arme + 20))</p>
    <p>👻 : @PdvMonstre</p>
</div>

@if (JoueurMort)
{
    <button @onclick="Recommencer">Recommencer</button>
}


@if (!JoueurMort)
{
    <button @onclick="() => AttaquerMonstre(3)">🔪👻 ?</button>
}


@if (LevelUp > 0)
{
    <div>
        <p>Félicitations, vous avez monté d'un niveau ! Choisissez votre récompense :</p>
        <button @onclick="() => LevelUpMethod(1)">🔘 ++</button>
        <button @onclick="() => LevelUpMethod(2)">🍖</button>
        <button @onclick="() => LevelUpMethod(3)">🔪 ++</button>
    </div>
}