@model List<string>
@{
    ViewData["Title"] = "Contacts page";
}



Je suis la page pour lister les Contacts...

@{
    string message = (string)ViewData["message"];
}

@message

@foreach (var str in Model)
{
    <h5>@str</h5>
}


@{
    ViewBag.TestBags = ViewBag.TestBags ?? new List<string>() { "valeur par défaut car liste Chaines vide "};
}

@foreach (var str in ViewBag.TestBags)
{
    <h5>@str</h5>
}