@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="styles.css">

<style>
    body {
        background-image: url('/image/tableau.png');
        background-size: cover;
        background-position: center;
    }

    .welcome-text {
        color: white;
        font-size: 48px;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }
</style>

<div class="text-center">
    <h1 class="display-4 welcome-text">Salut Azure ! =)</h1>
    <p class="blink">Youpie ça marche ! =D</p>
</div>
